include README.rst
include AUTHORS HACKING LICENSE
include run_tests.sh tox.ini
include python-keystoneclient
include keystoneclient/versioninfo
recursive-include doc *
recursive-include tests *
recursive-include tools *
