pbr>=0.5.21,<1.0
argparse
iso8601>=0.1.4
PrettyTable>=0.6,<0.8
requests>=1.1
simplejson>=2.0.9
six
-f http://tarballs.openstack.org/oslo.config/oslo.config-1.2.0a3.tar.gz#egg=oslo.config-1.2.0a3
oslo.config>=1.2.0a3
netaddr
Babel>=0.9.6
